Node-RED/SistemaSupevisorio.json
[
    {
        "id": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "type": "tab",
        "label": "Comm CLP / Node-RED",
        "disabled": false,
        "info": ""
    },
    {
        "id": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "type": "tab",
        "label": "HTTP POST IOs",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b7c2f397fdbb5ba7",
        "type": "tab",
        "label": "HTTP POST Alarmes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "82177b4cf60ced3f",
        "type": "tab",
        "label": "HTTP POST Aviso",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "52ad4f8017343188",
        "type": "tab",
        "label": "HTTP POST Status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1178555e0391a6a5",
        "type": "tab",
        "label": "HTTP POST Velocidade",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f0cc578e3a7799a",
        "type": "tab",
        "label": "HTTP POST Podução",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1b2c3d4e5f6g7h8",
        "type": "subflow",
        "name": "Enviar para API Supervisorio",
        "info": "Subfluxo reutilizável para enviar dados para a API.\n\n**Entrada:**\n- `msg.payload`: Deve ser o objeto JSON a ser enviado (ex: `{ Id: \"...\", Informacao: \"...\" }`).\n- `msg.endpoint`: A rota da API (ex: `\"rotuladora/alarmes\"`).\n\n**Saída:**\n- `msg.payload`: A resposta da API.",
        "category": "",
        "in": [],
        "out": [],
        "env": [
            {
                "name": "API_BASE_URL",
                "type": "str",
                "value": "http://localhost:5292/api/mmdba/",
                "ui": {
                    "label": {
                        "en-US": "URL Base da API"
                    },
                    "type": "input",
                    "opts": {
                        "opts": []
                    }
                }
            },
            {
                "name": "API_KEY",
                "type": "cred",
                "value": "cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh",
                "ui": {
                    "label": {
                        "en-US": "Chave da API (X-API-Key)"
                    },
                    "type": "input",
                    "opts": {
                        "opts": []
                    }
                }
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "e2c976410bae5973",
        "type": "group",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3eb1114138462d15",
            "16c3474d0fa88d28",
            "8c4dfad7280706f6",
            "5683e63dc816d6ba",
            "52339acf7c9c25e3",
            "d903bf2552b4d04e",
            "37ad8f035f991edb",
            "2cc45438110c5bf0",
            "b849b868fe398b94",
            "97a9dbc9ef407b30",
            "af41a7078a9a69b5",
            "22b306165af57355",
            "e1922cdc6cb66df4",
            "8c3e82141abd04b6",
            "147fbbe42e0360ed",
            "5fa64e2fb33931c2",
            "b11efabe41360dd1",
            "a3fcc348e736653d",
            "2fd22538093eb082",
            "04aa094d13920b0b",
            "be80aafebed1617c",
            "b7d80bfbba8f9de6",
            "576eec2789581f0c",
            "e647d465c34aeeb6",
            "ff477f8997949aa7",
            "8c598741420e577c",
            "344504109310bb19",
            "68d28074074d5b01",
            "f0723e23f63228cb",
            "21b748e83d1b0cb8",
            "dfeb520d888b6a5e",
            "3b531b8d59b6746a",
            "d760dcd18dc14871",
            "a87d661e50a78d26",
            "2600e797a9a14213"
        ],
        "x": 194,
        "y": 339,
        "w": 1312,
        "h": 1082
    },
    {
        "id": "503dab05d971424f",
        "type": "group",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3c4dbc71516bbb4a",
            "d96bc84d6e1e1a3e",
            "1a627ec61fa41ad3",
            "411f5830291a98e1",
            "ca771467befab1aa",
            "ced7b8863dba2b1a",
            "a8a74087be5e1be2",
            "28efadb56ecee668",
            "fd9bdc07dafa3510",
            "7cf6ca3f6c127d6b",
            "180ca450d8615045",
            "a9984b55cc1aacab",
            "8a8c7b39fa0902c2",
            "ae3bbca8950ddaa5",
            "493d02873735b1c3",
            "544634f6023286bb",
            "99d9cc2f0266bc84",
            "ab7aec5d4adea838",
            "1d81efbed0b9b2f7",
            "ea7eeed91bffc143",
            "43092977af804cdc",
            "b7c064e998ea4723",
            "45cf104adf96aaed",
            "37a417bb7f06efdb",
            "f4c2276fe794c5ca",
            "74b761158efc9834",
            "6e6ffd7554e62eec",
            "55be8b6598f0ac15",
            "c8c4cc518ec00b16",
            "b99b8f4e873ef702",
            "e7c75dc7ed2c7502",
            "06170c67154bb961",
            "c3eeb83cd53a61fc",
            "ce040f1d56f6d9ef",
            "d9999457800441eb",
            "3d315d8121cb9e0c",
            "e851620ba4b7ce22",
            "9eacb5752e31f85f",
            "cae3d5797a147655",
            "11e0637650ba5089",
            "4f6991e08253815e",
            "3529e3d1acb335d0",
            "6213c6a0bce73df5",
            "a738bfffe7e68a3a",
            "4ed7a1b78ff7ee4b",
            "5abdc2b25b200c6c",
            "e187cc131dd30361",
            "f35a7387f8030050",
            "967614ec9b97872c"
        ],
        "x": 174,
        "y": 199,
        "w": 952,
        "h": 562
    },
    {
        "id": "a40cb1939c2419d6",
        "type": "group",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5f2e145cc2649227",
            "16c94c9ae6741fda",
            "590a721b4c724795",
            "bda91513947130ef",
            "e22f5d7ba9bf32ef",
            "f86e6091a5492206",
            "41d7f404f7979912",
            "a565ecd9bea0b796",
            "5dd79f69aedc4003",
            "6b815e77193f1439",
            "d263392f48afbf02",
            "264187a87f54e578",
            "450335a11723085c"
        ],
        "x": 1434,
        "y": 819,
        "w": 492,
        "h": 342
    },
    {
        "id": "2462a8ae0c6e0370",
        "type": "group",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "32c881b61ab6a626",
            "92f207c838c2e0e8",
            "201dc49b66a7cd7e",
            "221f22b688c4b0e8",
            "5b03c9fb62d97830",
            "9dbed78644d98b44",
            "9c3dd9ac73c16f5f"
        ],
        "x": 1434,
        "y": 199,
        "w": 492,
        "h": 222
    },
    {
        "id": "65cf911606445133",
        "type": "group",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0f604b9b408fa488",
            "7d99d5d5579eac61",
            "3dc2a7f9b2b55c09",
            "0d2699a84da6efcb",
            "f359c0eaebe262a1",
            "4902ee97d4e3a7b3",
            "d9c11c4c0aa7cfbf",
            "10c3aa6c2bdfbdd7",
            "5ff7fb7424252468",
            "85950fd53a8e67cd",
            "2ee67441b5f24580"
        ],
        "x": 1714,
        "y": 759,
        "w": 1032,
        "h": 382
    },
    {
        "id": "a7bd69dce71f6fb5",
        "type": "group",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7f4021a5794a364c",
            "1c0fe42750c2b5fa",
            "d07b31023f39de74",
            "bc690de41fcb7e72",
            "e9cc4be5e21112f7",
            "19221510a54cfabe",
            "4f04038023b818d4"
        ],
        "x": 1714,
        "y": 339,
        "w": 1052,
        "h": 262
    },
    {
        "id": "46efa2b24427216f",
        "type": "group",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "23dbeec0a99e5bff",
            "b32483ba27aa1b3b",
            "f2eedb944cbc15f9",
            "dd47865b3a96ce8f",
            "36649369118f626a",
            "6c9b0d12afbfc136",
            "119c082c665f0d16",
            "571a93f74f391290",
            "62a5dc25a7509070",
            "0d226791c6fbc32d",
            "e42672fb36f2bd15",
            "e2a151b8840c2eea",
            "35496b1e5f573563",
            "008fae7d6407f9c9",
            "9260773d2da16558",
            "822abba324ec73af",
            "5c3d30a5dcb5ac93",
            "20e70b437d8ef2f3",
            "3e791ef6448e149d",
            "d9bf271c7e06ccaa",
            "7e214cdd987f4a05",
            "d92e4184d0218034",
            "7e277bbfac644521",
            "232544b7f2a495aa",
            "d66c7d967b4b28bf",
            "65e71929e10f9a76",
            "fcd693bbd9c83e42",
            "8021329368182baa",
            "0e84fae51cb0586c",
            "10fa5d05f2ec0ff0",
            "369f25dffefd8073",
            "40c8226e8ca5f2d6",
            "57dd9f8918756df1",
            "effc74fb2220faf7",
            "415a504dbe484b4a",
            "7a05d90038be05c9",
            "c6667186b304ce5e",
            "23c3f0cfe5acb8d4",
            "595dd8f64eaed67d",
            "d0cc486bb820607b",
            "d46aef8e3162f7e9",
            "24ae1508148fad06",
            "3edbf3d080348066",
            "181489778c38375c",
            "493ae9ac49d505eb",
            "70f5ec1b792ae645",
            "73624d539073ff52",
            "e42ee3aaf992b1b8",
            "cba96159709bd92f"
        ],
        "x": 194,
        "y": 819,
        "w": 952,
        "h": 562
    },
    {
        "id": "7c14193a66e0bb4f",
        "type": "group",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "35e5f325e3fec2ef",
            "c7074f34568c1258",
            "23baf0997e888784",
            "430dc8b701667e3f",
            "b6d16825a63e8f49",
            "9a29e21c18a89529",
            "dfa0c053391ec6e1",
            "e3ced482dc20292b",
            "a57eae2817918b20",
            "de32c510af55fbfa",
            "0a1b5dcb40607ccd"
        ],
        "x": 1714,
        "y": 1219,
        "w": 1032,
        "h": 382
    },
    {
        "id": "eb981cecb129b0bf",
        "type": "group",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d242598c4cb9bbbb",
            "494ff9799797b104",
            "0be29e573fb9340e",
            "e2488a0b4823ad7a",
            "bdeb4e89da526122",
            "6f1a5f8421301ec5",
            "67cf71f5c8a3fb42",
            "154231bbe5ed429b",
            "655d473cab676df9",
            "13e923e07cfbdec1",
            "5ed1e84d2941c3a0",
            "710348a3efe9e35f",
            "5e6d43ae3db3c0eb",
            "ebb2d564e1f4ae54",
            "c29569a10cc61833",
            "1281ca9c58cf7984",
            "5b586e91c3aa2ed8",
            "9d20e86fc7a3c211",
            "5cbcc6c97d2c5814",
            "8e6cafdc8055efa6",
            "a3ddcd9199943cc3",
            "8c389116d6b5dcca",
            "f14f7ec1731f9315",
            "7d1ab1659173d756",
            "17ae2fa9231d8420",
            "142f6a91f624b253",
            "d5be07bd71f559dc",
            "ecdd890c184046fd",
            "01996d079bc71199",
            "8c9e25183a944e63",
            "ea18fc7e709caca7",
            "ee14c586516b1a47",
            "a53d4e2a7d3fea1f",
            "35ad40de2845b3d0",
            "58b4ec646afcc69b"
        ],
        "x": 194,
        "y": 1479,
        "w": 1252,
        "h": 1082
    },
    {
        "id": "36da75d906310769",
        "type": "group",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "33addb6844c086e6",
            "a6d1aa8362a9a583",
            "e5f13b08bd5b5f63",
            "d164e1d285ffcb5d"
        ],
        "x": 2174,
        "y": 199,
        "w": 512,
        "h": 142
    },
    {
        "id": "422bc4dbe5bac0d8",
        "type": "group",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e45605f44873cb32",
            "1d4a22cc7bf0dfe5",
            "85e7c235ab0cbc14",
            "593f888b53f61a46"
        ],
        "x": 2174,
        "y": 419,
        "w": 492,
        "h": 142
    },
    {
        "id": "79f55226353a0b05",
        "type": "group",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1a2f1cca7c93154b",
            "cb53c2287d3369e5",
            "dd166559f230253d",
            "c1eb76e91589ed32"
        ],
        "x": 2174,
        "y": 639,
        "w": 492,
        "h": 142
    },
    {
        "id": "dbbce64cb023146b",
        "type": "group",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4584e033a0a4202b",
            "97020c83d6c4c6ef",
            "1918980fd5e33564",
            "a2df751506f379fe"
        ],
        "x": 2174,
        "y": 859,
        "w": 532,
        "h": 142
    },
    {
        "id": "99ee145619615cc3",
        "type": "group",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "702c97ace31c9df9",
            "6b7bbcb564783f81",
            "18e79930a8e85f36",
            "18dd3c1744581b8d"
        ],
        "x": 2174,
        "y": 1079,
        "w": 512,
        "h": 142
    },
    {
        "id": "aee98873942a1d03",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.100.100",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "AllDigitalOutputs",
        "vartable": [
            {
                "addr": "Q0.0",
                "name": "Q0.0"
            },
            {
                "addr": "Q0.1",
                "name": "Q0.1"
            },
            {
                "addr": "Q0.2",
                "name": "Q0.2"
            },
            {
                "addr": "Q0.3",
                "name": "Q0.3"
            },
            {
                "addr": "Q0.4",
                "name": "Q0.4"
            },
            {
                "addr": "Q0.5",
                "name": "Q0.5"
            },
            {
                "addr": "Q0.6",
                "name": "Q0.6"
            },
            {
                "addr": "Q0.7",
                "name": "Q0.7"
            },
            {
                "addr": "Q1.0",
                "name": "Q1.0"
            },
            {
                "addr": "Q1.1",
                "name": "Q1.1"
            },
            {
                "addr": "Q1.2",
                "name": "Q1.2"
            },
            {
                "addr": "Q1.3",
                "name": "Q1.3"
            },
            {
                "addr": "Q1.4",
                "name": "Q1.4"
            },
            {
                "addr": "Q1.5",
                "name": "Q1.5"
            },
            {
                "addr": "Q1.6",
                "name": "Q1.6"
            },
            {
                "addr": "Q1.7",
                "name": "Q1.7"
            }
        ]
    },
    {
        "id": "58c0d6014ed6b2f7",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "0b375e4cf1ac812f",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.100.100",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "AllDigitalInputs",
        "vartable": [
            {
                "addr": "DB1,X0.0",
                "name": "I0.0"
            },
            {
                "addr": "DB1,X0.1",
                "name": "I0.1"
            },
            {
                "addr": "DB1,X0.2",
                "name": "I0.2"
            },
            {
                "addr": "DB1,X0.3",
                "name": "I0.3"
            },
            {
                "addr": "DB1,X0.4",
                "name": "I0.4"
            },
            {
                "addr": "DB1,X0.5",
                "name": "I0.5"
            },
            {
                "addr": "DB1,X0.6",
                "name": "I0.6"
            },
            {
                "addr": "DB1,X0.7",
                "name": "I0.7"
            },
            {
                "addr": "DB1,X1.0",
                "name": "I1.0"
            },
            {
                "addr": "DB1,X1.1",
                "name": "I1.1"
            },
            {
                "addr": "DB1,X1.2",
                "name": "I1.2"
            },
            {
                "addr": "DB1,X1.3",
                "name": "I1.3"
            },
            {
                "addr": "DB1,X1.4",
                "name": "I1.4"
            },
            {
                "addr": "DB1,X1.5",
                "name": "I1.5"
            },
            {
                "addr": "DB1,X1.6",
                "name": "I1.6"
            },
            {
                "addr": "DB1,X1.7",
                "name": "I1.7"
            }
        ]
    },
    {
        "id": "e6f49469bd46b297",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.100.100",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "AllAnalogInputs",
        "vartable": [
            {
                "addr": "DB3,I0",
                "name": "IW2"
            },
            {
                "addr": "DB3,I2",
                "name": "IW4"
            },
            {
                "addr": "DB3,I4",
                "name": "IW6"
            },
            {
                "addr": "DB3,I6",
                "name": "IW8"
            }
        ]
    },
    {
        "id": "01845494f4327e3f",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.100.100",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "AllAnalogOutputs",
        "vartable": [
            {
                "addr": "DB4,I0",
                "name": "QW2"
            },
            {
                "addr": "DB4,I2",
                "name": "QW4"
            }
        ]
    },
    {
        "id": "df28b20d7dd49877",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.100.100",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "Alarmes",
        "vartable": [
            {
                "addr": "DB6,I30",
                "name": "Alarmes"
            }
        ]
    },
    {
        "id": "f25c451bf8435241",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.100.100",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "Avisos",
        "vartable": [
            {
                "addr": "DB6,I26",
                "name": "Avisos"
            }
        ]
    },
    {
        "id": "c4ecc635623be6c9",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.100.100",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "Status",
        "vartable": [
            {
                "addr": "DB6,I22",
                "name": "Status"
            }
        ]
    },
    {
        "id": "046cbaebd493b812",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.100.100",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "Velocidade",
        "vartable": [
            {
                "addr": "DB6,I34",
                "name": "Velocidade"
            }
        ]
    },
    {
        "id": "2f05f4eb59c1002d",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.100.100",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": 1000,
        "timeout": 2000,
        "name": "Produção",
        "vartable": [
            {
                "addr": "DB6,I38",
                "name": "Produção"
            }
        ]
    },
    {
        "id": "8b35a8b5-95af-4bb3-97f4-dfbb6497ff03",
        "type": "comment",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "name": "Legenda - Comunicação CLP -> Node-RED",
        "info": "",
        "x": 310,
        "y": 80,
        "wires": []
    },
    {
        "id": "3c4dbc71516bbb4a",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q0.0",
        "mode": "link",
        "links": [
            "3eb1114138462d15"
        ],
        "x": 405,
        "y": 300,
        "wires": []
    },
    {
        "id": "d96bc84d6e1e1a3e",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q0.1",
        "mode": "link",
        "links": [
            "d903bf2552b4d04e"
        ],
        "x": 405,
        "y": 360,
        "wires": []
    },
    {
        "id": "1a627ec61fa41ad3",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q0.2",
        "diff": true,
        "name": "Q0.2",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "fd9bdc07dafa3510",
                "ce040f1d56f6d9ef"
            ]
        ]
    },
    {
        "id": "411f5830291a98e1",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q0.3",
        "diff": true,
        "name": "Q0.3",
        "x": 250,
        "y": 480,
        "wires": [
            [
                "7cf6ca3f6c127d6b",
                "d9999457800441eb"
            ]
        ]
    },
    {
        "id": "ca771467befab1aa",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q0.4",
        "diff": true,
        "name": "Q0.4",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "180ca450d8615045",
                "3d315d8121cb9e0c"
            ]
        ]
    },
    {
        "id": "ced7b8863dba2b1a",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q0.5",
        "diff": true,
        "name": "Q0.5",
        "x": 250,
        "y": 600,
        "wires": [
            [
                "a9984b55cc1aacab",
                "e851620ba4b7ce22"
            ]
        ]
    },
    {
        "id": "a8a74087be5e1be2",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q0.6",
        "diff": true,
        "name": "Q0.6",
        "x": 250,
        "y": 660,
        "wires": [
            [
                "8a8c7b39fa0902c2",
                "9eacb5752e31f85f"
            ]
        ]
    },
    {
        "id": "28efadb56ecee668",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q0.7",
        "diff": true,
        "name": "Q0.7",
        "x": 250,
        "y": 720,
        "wires": [
            [
                "ae3bbca8950ddaa5",
                "cae3d5797a147655"
            ]
        ]
    },
    {
        "id": "fd9bdc07dafa3510",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q0.2",
        "mode": "link",
        "links": [
            "2cc45438110c5bf0"
        ],
        "x": 405,
        "y": 420,
        "wires": []
    },
    {
        "id": "7cf6ca3f6c127d6b",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q0.3",
        "mode": "link",
        "links": [
            "97a9dbc9ef407b30"
        ],
        "x": 405,
        "y": 480,
        "wires": []
    },
    {
        "id": "180ca450d8615045",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q0.4",
        "mode": "link",
        "links": [
            "22b306165af57355"
        ],
        "x": 405,
        "y": 540,
        "wires": []
    },
    {
        "id": "a9984b55cc1aacab",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q0.5",
        "mode": "link",
        "links": [
            "8c3e82141abd04b6"
        ],
        "x": 405,
        "y": 600,
        "wires": []
    },
    {
        "id": "8a8c7b39fa0902c2",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q0.6",
        "mode": "link",
        "links": [
            "5fa64e2fb33931c2"
        ],
        "x": 405,
        "y": 660,
        "wires": []
    },
    {
        "id": "ae3bbca8950ddaa5",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q0.7",
        "mode": "link",
        "links": [
            "a3fcc348e736653d"
        ],
        "x": 405,
        "y": 720,
        "wires": []
    },
    {
        "id": "493d02873735b1c3",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q1.0",
        "mode": "link",
        "links": [
            "3eb1114138462d15",
            "2fd22538093eb082"
        ],
        "x": 885,
        "y": 300,
        "wires": []
    },
    {
        "id": "544634f6023286bb",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q1.1",
        "diff": true,
        "name": "Q1.0",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "493d02873735b1c3",
                "11e0637650ba5089"
            ]
        ]
    },
    {
        "id": "99d9cc2f0266bc84",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q1.1",
        "diff": true,
        "name": "Q1.1",
        "x": 730,
        "y": 360,
        "wires": [
            [
                "ab7aec5d4adea838",
                "4f6991e08253815e"
            ]
        ]
    },
    {
        "id": "ab7aec5d4adea838",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q1.1",
        "mode": "link",
        "links": [
            "b7d80bfbba8f9de6",
            "d903bf2552b4d04e"
        ],
        "x": 885,
        "y": 360,
        "wires": []
    },
    {
        "id": "1d81efbed0b9b2f7",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q1.2",
        "diff": true,
        "name": "Q1.2",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "f4c2276fe794c5ca",
                "3529e3d1acb335d0"
            ]
        ]
    },
    {
        "id": "ea7eeed91bffc143",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q1.3",
        "diff": true,
        "name": "Q1.3",
        "x": 730,
        "y": 480,
        "wires": [
            [
                "74b761158efc9834",
                "6213c6a0bce73df5"
            ]
        ]
    },
    {
        "id": "43092977af804cdc",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q1.4",
        "diff": true,
        "name": "Q1.4",
        "x": 730,
        "y": 540,
        "wires": [
            [
                "6e6ffd7554e62eec",
                "a738bfffe7e68a3a"
            ]
        ]
    },
    {
        "id": "b7c064e998ea4723",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q1.5",
        "diff": true,
        "name": "Q1.5",
        "x": 730,
        "y": 600,
        "wires": [
            [
                "55be8b6598f0ac15",
                "4ed7a1b78ff7ee4b"
            ]
        ]
    },
    {
        "id": "45cf104adf96aaed",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q1.6",
        "diff": true,
        "name": "Q1.6",
        "x": 730,
        "y": 660,
        "wires": [
            [
                "c8c4cc518ec00b16",
                "5abdc2b25b200c6c"
            ]
        ]
    },
    {
        "id": "37a417bb7f06efdb",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q1.7",
        "diff": true,
        "name": "Q1.7",
        "x": 730,
        "y": 720,
        "wires": [
            [
                "b99b8f4e873ef702",
                "e187cc131dd30361"
            ]
        ]
    },
    {
        "id": "f4c2276fe794c5ca",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q1.2",
        "mode": "link",
        "links": [
            "2cc45438110c5bf0",
            "e647d465c34aeeb6"
        ],
        "x": 885,
        "y": 420,
        "wires": []
    },
    {
        "id": "74b761158efc9834",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q1.3",
        "mode": "link",
        "links": [
            "97a9dbc9ef407b30",
            "8c598741420e577c"
        ],
        "x": 885,
        "y": 480,
        "wires": []
    },
    {
        "id": "6e6ffd7554e62eec",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q1.4",
        "mode": "link",
        "links": [
            "22b306165af57355",
            "68d28074074d5b01"
        ],
        "x": 885,
        "y": 540,
        "wires": []
    },
    {
        "id": "55be8b6598f0ac15",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q1.5",
        "mode": "link",
        "links": [
            "8c3e82141abd04b6",
            "21b748e83d1b0cb8"
        ],
        "x": 885,
        "y": 600,
        "wires": []
    },
    {
        "id": "c8c4cc518ec00b16",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q1.6",
        "mode": "link",
        "links": [
            "5fa64e2fb33931c2",
            "3b531b8d59b6746a"
        ],
        "x": 885,
        "y": 660,
        "wires": []
    },
    {
        "id": "b99b8f4e873ef702",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "link out Q1.7",
        "mode": "link",
        "links": [
            "a3fcc348e736653d",
            "a87d661e50a78d26"
        ],
        "x": 885,
        "y": 720,
        "wires": []
    },
    {
        "id": "e7c75dc7ed2c7502",
        "type": "comment",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Saidas Digitais ",
        "info": "Saidas Digitais ",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "23dbeec0a99e5bff",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I0.0",
        "mode": "link",
        "links": [
            "d242598c4cb9bbbb"
        ],
        "x": 425,
        "y": 920,
        "wires": []
    },
    {
        "id": "b32483ba27aa1b3b",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I0.0",
        "diff": true,
        "name": "I0.0",
        "x": 270,
        "y": 920,
        "wires": [
            [
                "23dbeec0a99e5bff",
                "effc74fb2220faf7"
            ]
        ]
    },
    {
        "id": "f2eedb944cbc15f9",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I0.1",
        "diff": true,
        "name": "I0.1",
        "x": 270,
        "y": 980,
        "wires": [
            [
                "dd47865b3a96ce8f",
                "415a504dbe484b4a"
            ]
        ]
    },
    {
        "id": "dd47865b3a96ce8f",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I0.1",
        "mode": "link",
        "links": [
            "6f1a5f8421301ec5"
        ],
        "x": 425,
        "y": 980,
        "wires": []
    },
    {
        "id": "36649369118f626a",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I0.2",
        "diff": true,
        "name": "I0.2",
        "x": 270,
        "y": 1040,
        "wires": [
            [
                "e42672fb36f2bd15",
                "7a05d90038be05c9"
            ]
        ]
    },
    {
        "id": "6c9b0d12afbfc136",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I0.3",
        "diff": true,
        "name": "I0.3",
        "x": 270,
        "y": 1100,
        "wires": [
            [
                "e2a151b8840c2eea",
                "c6667186b304ce5e"
            ]
        ]
    },
    {
        "id": "119c082c665f0d16",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I0.4",
        "diff": true,
        "name": "I0.4",
        "x": 270,
        "y": 1160,
        "wires": [
            [
                "35496b1e5f573563",
                "23c3f0cfe5acb8d4"
            ]
        ]
    },
    {
        "id": "571a93f74f391290",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I0.5",
        "diff": true,
        "name": "I0.5",
        "x": 270,
        "y": 1220,
        "wires": [
            [
                "008fae7d6407f9c9",
                "595dd8f64eaed67d"
            ]
        ]
    },
    {
        "id": "62a5dc25a7509070",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I0.6",
        "diff": true,
        "name": "I0.6",
        "x": 270,
        "y": 1280,
        "wires": [
            [
                "9260773d2da16558",
                "d0cc486bb820607b"
            ]
        ]
    },
    {
        "id": "0d226791c6fbc32d",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I0.7",
        "diff": true,
        "name": "I0.7",
        "x": 270,
        "y": 1340,
        "wires": [
            [
                "822abba324ec73af",
                "d46aef8e3162f7e9"
            ]
        ]
    },
    {
        "id": "e42672fb36f2bd15",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I0.2",
        "mode": "link",
        "links": [],
        "x": 425,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e2a151b8840c2eea",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I0.3",
        "mode": "link",
        "links": [
            "13e923e07cfbdec1"
        ],
        "x": 425,
        "y": 1100,
        "wires": []
    },
    {
        "id": "35496b1e5f573563",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I0.4",
        "mode": "link",
        "links": [
            "710348a3efe9e35f"
        ],
        "x": 425,
        "y": 1160,
        "wires": []
    },
    {
        "id": "008fae7d6407f9c9",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I0.5",
        "mode": "link",
        "links": [
            "ebb2d564e1f4ae54"
        ],
        "x": 425,
        "y": 1220,
        "wires": []
    },
    {
        "id": "9260773d2da16558",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I0.6",
        "mode": "link",
        "links": [
            "1281ca9c58cf7984"
        ],
        "x": 425,
        "y": 1280,
        "wires": []
    },
    {
        "id": "822abba324ec73af",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I0.7",
        "mode": "link",
        "links": [
            "9d20e86fc7a3c211"
        ],
        "x": 425,
        "y": 1340,
        "wires": []
    },
    {
        "id": "5c3d30a5dcb5ac93",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I1.0",
        "mode": "link",
        "links": [
            "5cbcc6c97d2c5814"
        ],
        "x": 915,
        "y": 920,
        "wires": []
    },
    {
        "id": "20e70b437d8ef2f3",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I1.0",
        "diff": true,
        "name": "I1.0",
        "x": 750,
        "y": 920,
        "wires": [
            [
                "5c3d30a5dcb5ac93",
                "24ae1508148fad06"
            ]
        ]
    },
    {
        "id": "3e791ef6448e149d",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I1.1",
        "diff": true,
        "name": "I1.1",
        "x": 750,
        "y": 980,
        "wires": [
            [
                "d9bf271c7e06ccaa",
                "3edbf3d080348066"
            ]
        ]
    },
    {
        "id": "d9bf271c7e06ccaa",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I1.1",
        "mode": "link",
        "links": [
            "8c389116d6b5dcca"
        ],
        "x": 915,
        "y": 980,
        "wires": []
    },
    {
        "id": "7e214cdd987f4a05",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I1.2",
        "diff": true,
        "name": "I1.2",
        "x": 750,
        "y": 1040,
        "wires": [
            [
                "fcd693bbd9c83e42",
                "181489778c38375c"
            ]
        ]
    },
    {
        "id": "d92e4184d0218034",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I1.3",
        "diff": true,
        "name": "I1.3",
        "x": 750,
        "y": 1100,
        "wires": [
            [
                "8021329368182baa",
                "493ae9ac49d505eb"
            ]
        ]
    },
    {
        "id": "7e277bbfac644521",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I1.4",
        "diff": true,
        "name": "I1.4",
        "x": 750,
        "y": 1160,
        "wires": [
            [
                "0e84fae51cb0586c",
                "70f5ec1b792ae645"
            ]
        ]
    },
    {
        "id": "232544b7f2a495aa",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I1.5",
        "diff": true,
        "name": "I1.5",
        "x": 750,
        "y": 1220,
        "wires": [
            [
                "10fa5d05f2ec0ff0",
                "73624d539073ff52"
            ]
        ]
    },
    {
        "id": "d66c7d967b4b28bf",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I1.6",
        "diff": true,
        "name": "I1.6",
        "x": 750,
        "y": 1280,
        "wires": [
            [
                "369f25dffefd8073",
                "e42ee3aaf992b1b8"
            ]
        ]
    },
    {
        "id": "65e71929e10f9a76",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "endpoint": "0b375e4cf1ac812f",
        "mode": "single",
        "variable": "I1.7",
        "diff": true,
        "name": "I1.7",
        "x": 750,
        "y": 1340,
        "wires": [
            [
                "40c8226e8ca5f2d6",
                "cba96159709bd92f"
            ]
        ]
    },
    {
        "id": "fcd693bbd9c83e42",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I1.2",
        "mode": "link",
        "links": [
            "154231bbe5ed429b",
            "7d1ab1659173d756"
        ],
        "x": 915,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8021329368182baa",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I1.3",
        "mode": "link",
        "links": [
            "142f6a91f624b253"
        ],
        "x": 915,
        "y": 1100,
        "wires": []
    },
    {
        "id": "0e84fae51cb0586c",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I1.4",
        "mode": "link",
        "links": [
            "ecdd890c184046fd"
        ],
        "x": 915,
        "y": 1160,
        "wires": []
    },
    {
        "id": "10fa5d05f2ec0ff0",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I1.5",
        "mode": "link",
        "links": [
            "8c9e25183a944e63"
        ],
        "x": 915,
        "y": 1220,
        "wires": []
    },
    {
        "id": "369f25dffefd8073",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I1.6",
        "mode": "link",
        "links": [
            "ee14c586516b1a47"
        ],
        "x": 915,
        "y": 1280,
        "wires": []
    },
    {
        "id": "40c8226e8ca5f2d6",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "link out I1.7",
        "mode": "link",
        "links": [
            "35ad40de2845b3d0"
        ],
        "x": 915,
        "y": 1340,
        "wires": []
    },
    {
        "id": "57dd9f8918756df1",
        "type": "comment",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "Entradas Digitais ",
        "info": "Entradas Digitais ",
        "x": 680,
        "y": 860,
        "wires": []
    },
    {
        "id": "5f2e145cc2649227",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "a40cb1939c2419d6",
        "endpoint": "e6f49469bd46b297",
        "mode": "single",
        "variable": "IW2",
        "diff": true,
        "name": "IW2",
        "x": 1510,
        "y": 940,
        "wires": [
            [
                "16c94c9ae6741fda",
                "6b815e77193f1439"
            ]
        ]
    },
    {
        "id": "16c94c9ae6741fda",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "a40cb1939c2419d6",
        "name": "link out IW2",
        "mode": "link",
        "links": [
            "7d99d5d5579eac61",
            "c7074f34568c1258"
        ],
        "x": 1675,
        "y": 940,
        "wires": []
    },
    {
        "id": "590a721b4c724795",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "a40cb1939c2419d6",
        "endpoint": "e6f49469bd46b297",
        "mode": "single",
        "variable": "IW4",
        "diff": true,
        "name": "IW4",
        "x": 1510,
        "y": 1000,
        "wires": [
            [
                "bda91513947130ef",
                "d263392f48afbf02"
            ]
        ]
    },
    {
        "id": "bda91513947130ef",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "a40cb1939c2419d6",
        "name": "link out IW4",
        "mode": "link",
        "links": [
            "4902ee97d4e3a7b3",
            "9a29e21c18a89529"
        ],
        "x": 1675,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e22f5d7ba9bf32ef",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "a40cb1939c2419d6",
        "endpoint": "e6f49469bd46b297",
        "mode": "single",
        "variable": "IW6",
        "diff": true,
        "name": "IW6",
        "x": 1510,
        "y": 1060,
        "wires": [
            [
                "f86e6091a5492206",
                "264187a87f54e578"
            ]
        ]
    },
    {
        "id": "f86e6091a5492206",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "a40cb1939c2419d6",
        "name": "link out IW6",
        "mode": "link",
        "links": [
            "10c3aa6c2bdfbdd7",
            "e3ced482dc20292b"
        ],
        "x": 1675,
        "y": 1060,
        "wires": []
    },
    {
        "id": "41d7f404f7979912",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "a40cb1939c2419d6",
        "endpoint": "e6f49469bd46b297",
        "mode": "single",
        "variable": "IW8",
        "diff": true,
        "name": "IW8",
        "x": 1510,
        "y": 1120,
        "wires": [
            [
                "a565ecd9bea0b796",
                "450335a11723085c"
            ]
        ]
    },
    {
        "id": "a565ecd9bea0b796",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "a40cb1939c2419d6",
        "name": "link out IW8",
        "mode": "link",
        "links": [
            "85950fd53a8e67cd",
            "de32c510af55fbfa"
        ],
        "x": 1675,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5dd79f69aedc4003",
        "type": "comment",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "a40cb1939c2419d6",
        "name": "Entradas Analógicas",
        "info": "Entradas Analógicas",
        "x": 1690,
        "y": 860,
        "wires": []
    },
    {
        "id": "32c881b61ab6a626",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "2462a8ae0c6e0370",
        "endpoint": "01845494f4327e3f",
        "mode": "single",
        "variable": "QW2",
        "diff": true,
        "name": "QW2",
        "x": 1510,
        "y": 320,
        "wires": [
            [
                "92f207c838c2e0e8",
                "9dbed78644d98b44"
            ]
        ]
    },
    {
        "id": "92f207c838c2e0e8",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "2462a8ae0c6e0370",
        "name": "link out QW2",
        "mode": "link",
        "links": [
            "1c0fe42750c2b5fa"
        ],
        "x": 1665,
        "y": 320,
        "wires": []
    },
    {
        "id": "201dc49b66a7cd7e",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "2462a8ae0c6e0370",
        "endpoint": "01845494f4327e3f",
        "mode": "single",
        "variable": "QW4",
        "diff": true,
        "name": "QW4",
        "x": 1510,
        "y": 380,
        "wires": [
            [
                "221f22b688c4b0e8",
                "9c3dd9ac73c16f5f"
            ]
        ]
    },
    {
        "id": "221f22b688c4b0e8",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "2462a8ae0c6e0370",
        "name": "link out QW4",
        "mode": "link",
        "links": [
            "19221510a54cfabe"
        ],
        "x": 1665,
        "y": 380,
        "wires": []
    },
    {
        "id": "5b03c9fb62d97830",
        "type": "comment",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "2462a8ae0c6e0370",
        "name": "Saídas Analógicas",
        "info": "Saídas Analógicas",
        "x": 1690,
        "y": 240,
        "wires": []
    },
    {
        "id": "06170c67154bb961",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q0.0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 300,
        "wires": []
    },
    {
        "id": "c3eeb83cd53a61fc",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q0.1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "ce040f1d56f6d9ef",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q0.2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "d9999457800441eb",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q0.3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "3d315d8121cb9e0c",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q0.4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 540,
        "wires": []
    },
    {
        "id": "e851620ba4b7ce22",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q0.5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "9eacb5752e31f85f",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q0.6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 660,
        "wires": []
    },
    {
        "id": "cae3d5797a147655",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q0.7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 720,
        "wires": []
    },
    {
        "id": "11e0637650ba5089",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q1.0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 300,
        "wires": []
    },
    {
        "id": "4f6991e08253815e",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q1.1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "3529e3d1acb335d0",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q1.2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "6213c6a0bce73df5",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q1.3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 480,
        "wires": []
    },
    {
        "id": "a738bfffe7e68a3a",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q1.4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 540,
        "wires": []
    },
    {
        "id": "4ed7a1b78ff7ee4b",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q1.5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 600,
        "wires": []
    },
    {
        "id": "5abdc2b25b200c6c",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q1.6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 660,
        "wires": []
    },
    {
        "id": "e187cc131dd30361",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "name": "Q1.7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 720,
        "wires": []
    },
    {
        "id": "effc74fb2220faf7",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I0.0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 920,
        "wires": []
    },
    {
        "id": "415a504dbe484b4a",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I0.1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 980,
        "wires": []
    },
    {
        "id": "7a05d90038be05c9",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I0.2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1040,
        "wires": []
    },
    {
        "id": "c6667186b304ce5e",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I0.3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1100,
        "wires": []
    },
    {
        "id": "23c3f0cfe5acb8d4",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I0.4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1160,
        "wires": []
    },
    {
        "id": "595dd8f64eaed67d",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I0.5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1220,
        "wires": []
    },
    {
        "id": "d0cc486bb820607b",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I0.6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d46aef8e3162f7e9",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I0.7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 1340,
        "wires": []
    },
    {
        "id": "24ae1508148fad06",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I1.0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 920,
        "wires": []
    },
    {
        "id": "3edbf3d080348066",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I1.1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 980,
        "wires": []
    },
    {
        "id": "181489778c38375c",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I1.2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1040,
        "wires": []
    },
    {
        "id": "493ae9ac49d505eb",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I1.3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1100,
        "wires": []
    },
    {
        "id": "70f5ec1b792ae645",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I1.4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1160,
        "wires": []
    },
    {
        "id": "73624d539073ff52",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I1.5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1220,
        "wires": []
    },
    {
        "id": "e42ee3aaf992b1b8",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I1.6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1280,
        "wires": []
    },
    {
        "id": "cba96159709bd92f",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "46efa2b24427216f",
        "name": "I1.7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9dbed78644d98b44",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "2462a8ae0c6e0370",
        "name": "QW2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 320,
        "wires": []
    },
    {
        "id": "9c3dd9ac73c16f5f",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "2462a8ae0c6e0370",
        "name": "QW4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 380,
        "wires": []
    },
    {
        "id": "6b815e77193f1439",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "a40cb1939c2419d6",
        "name": "IW2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 940,
        "wires": []
    },
    {
        "id": "d263392f48afbf02",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "a40cb1939c2419d6",
        "name": "IW4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 1000,
        "wires": []
    },
    {
        "id": "264187a87f54e578",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "a40cb1939c2419d6",
        "name": "IW6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 1060,
        "wires": []
    },
    {
        "id": "450335a11723085c",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "a40cb1939c2419d6",
        "name": "IW8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f35a7387f8030050",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q0.1",
        "diff": true,
        "name": "Q0.1",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "d96bc84d6e1e1a3e",
                "c3eeb83cd53a61fc"
            ]
        ]
    },
    {
        "id": "967614ec9b97872c",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "503dab05d971424f",
        "endpoint": "aee98873942a1d03",
        "mode": "single",
        "variable": "Q0.0",
        "diff": true,
        "name": "Q0.0",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "3c4dbc71516bbb4a",
                "06170c67154bb961"
            ]
        ]
    },
    {
        "id": "33addb6844c086e6",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "36da75d906310769",
        "endpoint": "df28b20d7dd49877",
        "mode": "single",
        "variable": "Alarmes",
        "diff": true,
        "name": "Alarmes",
        "x": 2260,
        "y": 300,
        "wires": [
            [
                "a6d1aa8362a9a583",
                "d164e1d285ffcb5d"
            ]
        ]
    },
    {
        "id": "a6d1aa8362a9a583",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "36da75d906310769",
        "name": "link Alarme",
        "mode": "link",
        "links": [
            "e92988c27b38e4f0"
        ],
        "x": 2425,
        "y": 300,
        "wires": []
    },
    {
        "id": "e5f13b08bd5b5f63",
        "type": "comment",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "36da75d906310769",
        "name": "Alarmes",
        "info": "",
        "x": 2310,
        "y": 240,
        "wires": []
    },
    {
        "id": "d164e1d285ffcb5d",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "36da75d906310769",
        "name": "Alarmes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2580,
        "y": 300,
        "wires": []
    },
    {
        "id": "e45605f44873cb32",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "422bc4dbe5bac0d8",
        "endpoint": "f25c451bf8435241",
        "mode": "single",
        "variable": "Avisos",
        "diff": true,
        "name": "Avisos",
        "x": 2250,
        "y": 520,
        "wires": [
            [
                "1d4a22cc7bf0dfe5",
                "593f888b53f61a46"
            ]
        ]
    },
    {
        "id": "1d4a22cc7bf0dfe5",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "422bc4dbe5bac0d8",
        "name": "link Aviso",
        "mode": "link",
        "links": [
            "b8a23c1f49fad2f5"
        ],
        "x": 2425,
        "y": 520,
        "wires": []
    },
    {
        "id": "85e7c235ab0cbc14",
        "type": "comment",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "422bc4dbe5bac0d8",
        "name": "Avisos",
        "info": "",
        "x": 2300,
        "y": 460,
        "wires": []
    },
    {
        "id": "593f888b53f61a46",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "422bc4dbe5bac0d8",
        "name": "Avisos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2570,
        "y": 520,
        "wires": []
    },
    {
        "id": "1a2f1cca7c93154b",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "79f55226353a0b05",
        "endpoint": "c4ecc635623be6c9",
        "mode": "single",
        "variable": "Status",
        "diff": true,
        "name": "Avisos",
        "x": 2250,
        "y": 740,
        "wires": [
            [
                "cb53c2287d3369e5",
                "c1eb76e91589ed32"
            ]
        ]
    },
    {
        "id": "cb53c2287d3369e5",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "79f55226353a0b05",
        "name": "link Status",
        "mode": "link",
        "links": [
            "7d99d5d5579eac61",
            "c7074f34568c1258",
            "5913d85a1d3f49c2"
        ],
        "x": 2425,
        "y": 740,
        "wires": []
    },
    {
        "id": "dd166559f230253d",
        "type": "comment",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "79f55226353a0b05",
        "name": "Status",
        "info": "",
        "x": 2300,
        "y": 680,
        "wires": []
    },
    {
        "id": "c1eb76e91589ed32",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "79f55226353a0b05",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2570,
        "y": 740,
        "wires": []
    },
    {
        "id": "4584e033a0a4202b",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "dbbce64cb023146b",
        "endpoint": "046cbaebd493b812",
        "mode": "single",
        "variable": "Velocidade",
        "diff": true,
        "name": "Velocidade",
        "x": 2260,
        "y": 960,
        "wires": [
            [
                "97020c83d6c4c6ef",
                "a2df751506f379fe"
            ]
        ]
    },
    {
        "id": "97020c83d6c4c6ef",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "dbbce64cb023146b",
        "name": "link Velocidade",
        "mode": "link",
        "links": [
            "7d99d5d5579eac61",
            "c7074f34568c1258",
            "3966b0e6ca298391"
        ],
        "x": 2425,
        "y": 960,
        "wires": []
    },
    {
        "id": "1918980fd5e33564",
        "type": "comment",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "dbbce64cb023146b",
        "name": "Velocidade",
        "info": "",
        "x": 2310,
        "y": 900,
        "wires": []
    },
    {
        "id": "a2df751506f379fe",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "dbbce64cb023146b",
        "name": "Velocidade",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2590,
        "y": 960,
        "wires": []
    },
    {
        "id": "702c97ace31c9df9",
        "type": "s7 in",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "99ee145619615cc3",
        "endpoint": "2f05f4eb59c1002d",
        "mode": "single",
        "variable": "Produção",
        "diff": true,
        "name": "Produção",
        "x": 2260,
        "y": 1180,
        "wires": [
            [
                "6b7bbcb564783f81",
                "18dd3c1744581b8d"
            ]
        ]
    },
    {
        "id": "6b7bbcb564783f81",
        "type": "link out",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "99ee145619615cc3",
        "name": "link Produção",
        "mode": "link",
        "links": [
            "7d99d5d5579eac61",
            "c7074f34568c1258",
            "8ed47c07d616e0c1"
        ],
        "x": 2425,
        "y": 1180,
        "wires": []
    },
    {
        "id": "18e79930a8e85f36",
        "type": "comment",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "99ee145619615cc3",
        "name": "Produção",
        "info": "",
        "x": 2310,
        "y": 1120,
        "wires": []
    },
    {
        "id": "18dd3c1744581b8d",
        "type": "debug",
        "z": "dc3fc40e-94ed-42e0-8dfc-8e94c6d2f17c",
        "g": "99ee145619615cc3",
        "name": "Produção",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2580,
        "y": 1180,
        "wires": []
    },
    {
        "id": "3eb1114138462d15",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q0.0",
        "links": [
            "3c4dbc71516bbb4a",
            "493d02873735b1c3"
        ],
        "x": 235,
        "y": 480,
        "wires": [
            [
                "16c3474d0fa88d28"
            ]
        ]
    },
    {
        "id": "16c3474d0fa88d28",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q0.0)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n// Informa ao servidor que estamos enviando dados no formato JSON.\n\"Content-Type\": \"application/json\",\n\n// Adiciona autenticação com a chave de API.\n\"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out0_0\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out0_0\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 480,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "8c4dfad7280706f6",
        "type": "debug",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Resposta da API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 940,
        "wires": []
    },
    {
        "id": "5683e63dc816d6ba",
        "type": "http request",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Enviar DigitalOutputs para API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5292/api/mmdba/rotuladora/IOs",
        "tls": "58c0d6014ed6b2f7",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1110,
        "y": 940,
        "wires": [
            [
                "8c4dfad7280706f6"
            ]
        ]
    },
    {
        "id": "52339acf7c9c25e3",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q0.1)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out0_1\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out0_1\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 540,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "d903bf2552b4d04e",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q0.1",
        "links": [
            "d96bc84d6e1e1a3e",
            "ab7aec5d4adea838"
        ],
        "x": 235,
        "y": 540,
        "wires": [
            [
                "52339acf7c9c25e3"
            ]
        ]
    },
    {
        "id": "37ad8f035f991edb",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q0.2)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out0_2\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out0_2\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 600,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "2cc45438110c5bf0",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q0.2",
        "links": [
            "fd9bdc07dafa3510",
            "f4c2276fe794c5ca"
        ],
        "x": 235,
        "y": 600,
        "wires": [
            [
                "37ad8f035f991edb"
            ]
        ]
    },
    {
        "id": "b849b868fe398b94",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q0.3)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out0_3\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out0_3\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 660,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "97a9dbc9ef407b30",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q0.3",
        "links": [
            "7cf6ca3f6c127d6b",
            "74b761158efc9834"
        ],
        "x": 235,
        "y": 660,
        "wires": [
            [
                "b849b868fe398b94"
            ]
        ]
    },
    {
        "id": "af41a7078a9a69b5",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q0.4)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out0_4\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out0_4\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 720,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "22b306165af57355",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q0.4",
        "links": [
            "180ca450d8615045",
            "6e6ffd7554e62eec"
        ],
        "x": 235,
        "y": 720,
        "wires": [
            [
                "af41a7078a9a69b5"
            ]
        ]
    },
    {
        "id": "e1922cdc6cb66df4",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q0.5)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out0_5\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out0_5\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 780,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "8c3e82141abd04b6",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q0.5",
        "links": [
            "a9984b55cc1aacab",
            "55be8b6598f0ac15"
        ],
        "x": 235,
        "y": 780,
        "wires": [
            [
                "e1922cdc6cb66df4"
            ]
        ]
    },
    {
        "id": "147fbbe42e0360ed",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q0.6)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out0_6\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out0_6\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 840,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "5fa64e2fb33931c2",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q0.6",
        "links": [
            "8a8c7b39fa0902c2",
            "c8c4cc518ec00b16"
        ],
        "x": 235,
        "y": 840,
        "wires": [
            [
                "147fbbe42e0360ed"
            ]
        ]
    },
    {
        "id": "b11efabe41360dd1",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q0.7)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out0_7\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out0_7\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 900,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "a3fcc348e736653d",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q0.7",
        "links": [
            "ae3bbca8950ddaa5",
            "b99b8f4e873ef702"
        ],
        "x": 235,
        "y": 900,
        "wires": [
            [
                "b11efabe41360dd1"
            ]
        ]
    },
    {
        "id": "2fd22538093eb082",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q1.0",
        "links": [
            "493d02873735b1c3"
        ],
        "x": 235,
        "y": 960,
        "wires": [
            [
                "04aa094d13920b0b"
            ]
        ]
    },
    {
        "id": "04aa094d13920b0b",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q1.0)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out1_0\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out1_0\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 960,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "be80aafebed1617c",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q1.1)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out1_1\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out1_1\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1020,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "b7d80bfbba8f9de6",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q1.1",
        "links": [
            "ab7aec5d4adea838"
        ],
        "x": 235,
        "y": 1020,
        "wires": [
            [
                "be80aafebed1617c"
            ]
        ]
    },
    {
        "id": "576eec2789581f0c",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q1.2)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out1_2\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out1_2\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1080,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "e647d465c34aeeb6",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q1.2",
        "links": [
            "f4c2276fe794c5ca"
        ],
        "x": 235,
        "y": 1080,
        "wires": [
            [
                "576eec2789581f0c"
            ]
        ]
    },
    {
        "id": "ff477f8997949aa7",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q1.3)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out1_3\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out1_3\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1140,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "8c598741420e577c",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q1.3",
        "links": [
            "74b761158efc9834"
        ],
        "x": 235,
        "y": 1140,
        "wires": [
            [
                "ff477f8997949aa7"
            ]
        ]
    },
    {
        "id": "344504109310bb19",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q1.4)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out1_4\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out1_4\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1200,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "68d28074074d5b01",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q1.4",
        "links": [
            "6e6ffd7554e62eec"
        ],
        "x": 235,
        "y": 1200,
        "wires": [
            [
                "344504109310bb19"
            ]
        ]
    },
    {
        "id": "f0723e23f63228cb",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q1.5)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out1_5\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out1_5\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1260,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "21b748e83d1b0cb8",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q1.5",
        "links": [
            "55be8b6598f0ac15"
        ],
        "x": 235,
        "y": 1260,
        "wires": [
            [
                "f0723e23f63228cb"
            ]
        ]
    },
    {
        "id": "dfeb520d888b6a5e",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q1.6)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out1_6\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out1_6\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1320,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "3b531b8d59b6746a",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q1.6",
        "links": [
            "c8c4cc518ec00b16"
        ],
        "x": 235,
        "y": 1320,
        "wires": [
            [
                "dfeb520d888b6a5e"
            ]
        ]
    },
    {
        "id": "d760dcd18dc14871",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Montar objeto para API (Q1.7)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"out1_7\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Digital out1_7\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1380,
        "wires": [
            [
                "5683e63dc816d6ba"
            ]
        ]
    },
    {
        "id": "a87d661e50a78d26",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "link in Q1.7",
        "links": [
            "b99b8f4e873ef702"
        ],
        "x": 235,
        "y": 1380,
        "wires": [
            [
                "d760dcd18dc14871"
            ]
        ]
    },
    {
        "id": "2600e797a9a14213",
        "type": "comment",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "e2c976410bae5973",
        "name": "Saidas Digitais ",
        "info": "Saidas Digitais ",
        "x": 900,
        "y": 380,
        "wires": []
    },
    {
        "id": "d242598c4cb9bbbb",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I0.0",
        "links": [
            "23dbeec0a99e5bff"
        ],
        "x": 235,
        "y": 1620,
        "wires": [
            [
                "494ff9799797b104"
            ]
        ]
    },
    {
        "id": "494ff9799797b104",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I0.0)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in0_0\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in0_0\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1620,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "0be29e573fb9340e",
        "type": "debug",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Resposta da API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 2080,
        "wires": []
    },
    {
        "id": "e2488a0b4823ad7a",
        "type": "http request",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Enviar DigitalInputs para API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5292/api/mmdba/rotuladora/IOs",
        "tls": "58c0d6014ed6b2f7",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 980,
        "y": 2080,
        "wires": [
            [
                "0be29e573fb9340e"
            ]
        ]
    },
    {
        "id": "bdeb4e89da526122",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I0.1)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in0_1\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in0_1\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1680,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "6f1a5f8421301ec5",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I0.1",
        "links": [
            "dd47865b3a96ce8f"
        ],
        "x": 235,
        "y": 1680,
        "wires": [
            [
                "bdeb4e89da526122"
            ]
        ]
    },
    {
        "id": "67cf71f5c8a3fb42",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I0.2)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in0_2\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in0_2\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1740,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "154231bbe5ed429b",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I0.2",
        "links": [
            "fcd693bbd9c83e42"
        ],
        "x": 235,
        "y": 1740,
        "wires": [
            [
                "67cf71f5c8a3fb42"
            ]
        ]
    },
    {
        "id": "655d473cab676df9",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I0.3)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in0_3\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in0_3\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1800,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "13e923e07cfbdec1",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I0.3",
        "links": [
            "e2a151b8840c2eea"
        ],
        "x": 235,
        "y": 1800,
        "wires": [
            [
                "655d473cab676df9"
            ]
        ]
    },
    {
        "id": "5ed1e84d2941c3a0",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I0.4)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in0_4\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in0_4\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1860,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "710348a3efe9e35f",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I0.4",
        "links": [
            "35496b1e5f573563"
        ],
        "x": 235,
        "y": 1860,
        "wires": [
            [
                "5ed1e84d2941c3a0"
            ]
        ]
    },
    {
        "id": "5e6d43ae3db3c0eb",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I0.5)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in0_5\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in0_5\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1920,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "ebb2d564e1f4ae54",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I0.5",
        "links": [
            "008fae7d6407f9c9"
        ],
        "x": 235,
        "y": 1920,
        "wires": [
            [
                "5e6d43ae3db3c0eb"
            ]
        ]
    },
    {
        "id": "c29569a10cc61833",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I0.6)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in0_6\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in0_6\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1980,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "1281ca9c58cf7984",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I0.6",
        "links": [
            "9260773d2da16558"
        ],
        "x": 235,
        "y": 1980,
        "wires": [
            [
                "c29569a10cc61833"
            ]
        ]
    },
    {
        "id": "5b586e91c3aa2ed8",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I0.7)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in0_7\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in0_7\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2040,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "9d20e86fc7a3c211",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I0.7",
        "links": [
            "822abba324ec73af"
        ],
        "x": 235,
        "y": 2040,
        "wires": [
            [
                "5b586e91c3aa2ed8"
            ]
        ]
    },
    {
        "id": "5cbcc6c97d2c5814",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I1.0",
        "links": [
            "5c3d30a5dcb5ac93"
        ],
        "x": 235,
        "y": 2100,
        "wires": [
            [
                "8e6cafdc8055efa6"
            ]
        ]
    },
    {
        "id": "8e6cafdc8055efa6",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I1.0)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in1_0\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in1_0\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2100,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "a3ddcd9199943cc3",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I1.1)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in1_1\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in1_1\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2160,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "8c389116d6b5dcca",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I1.1",
        "links": [
            "d9bf271c7e06ccaa"
        ],
        "x": 235,
        "y": 2160,
        "wires": [
            [
                "a3ddcd9199943cc3"
            ]
        ]
    },
    {
        "id": "f14f7ec1731f9315",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I1.2)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in1_2\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in1_2\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2220,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "7d1ab1659173d756",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I1.2",
        "links": [
            "fcd693bbd9c83e42"
        ],
        "x": 235,
        "y": 2220,
        "wires": [
            [
                "f14f7ec1731f9315"
            ]
        ]
    },
    {
        "id": "17ae2fa9231d8420",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I1.3)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in1_3\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in1_3\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2280,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "142f6a91f624b253",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I1.3",
        "links": [
            "8021329368182baa"
        ],
        "x": 235,
        "y": 2280,
        "wires": [
            [
                "17ae2fa9231d8420"
            ]
        ]
    },
    {
        "id": "d5be07bd71f559dc",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I1.4)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in1_4\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in1_4\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2340,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "ecdd890c184046fd",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I1.4",
        "links": [
            "0e84fae51cb0586c"
        ],
        "x": 235,
        "y": 2340,
        "wires": [
            [
                "d5be07bd71f559dc"
            ]
        ]
    },
    {
        "id": "01996d079bc71199",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I1.5)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in1_5\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in1_5\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2400,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "8c9e25183a944e63",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I1.5",
        "links": [
            "10fa5d05f2ec0ff0"
        ],
        "x": 235,
        "y": 2400,
        "wires": [
            [
                "01996d079bc71199"
            ]
        ]
    },
    {
        "id": "ea18fc7e709caca7",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I1.6)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in1_6\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in1_6\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2460,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "ee14c586516b1a47",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I1.6",
        "links": [
            "369f25dffefd8073"
        ],
        "x": 235,
        "y": 2460,
        "wires": [
            [
                "ea18fc7e709caca7"
            ]
        ]
    },
    {
        "id": "a53d4e2a7d3fea1f",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Montar objeto para API (I1.7)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"in1_7\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Digital in1_7\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 2520,
        "wires": [
            [
                "e2488a0b4823ad7a"
            ]
        ]
    },
    {
        "id": "35ad40de2845b3d0",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "link in I1.7",
        "links": [
            "40c8226e8ca5f2d6"
        ],
        "x": 235,
        "y": 2520,
        "wires": [
            [
                "a53d4e2a7d3fea1f"
            ]
        ]
    },
    {
        "id": "58b4ec646afcc69b",
        "type": "comment",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "eb981cecb129b0bf",
        "name": "Entradas Digitais ",
        "info": "Entradas Digitais ",
        "x": 810,
        "y": 1520,
        "wires": []
    },
    {
        "id": "0f604b9b408fa488",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "65cf911606445133",
        "name": "Montar objeto para API (IW2)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"inIW2\",\n    Valor: String(msg.payload),\n    Informacao: \"Enrtada Analógica inQW2\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 920,
        "wires": [
            [
                "0d2699a84da6efcb"
            ]
        ]
    },
    {
        "id": "7d99d5d5579eac61",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "65cf911606445133",
        "name": "link in IW2",
        "links": [
            "16c94c9ae6741fda",
            "cb53c2287d3369e5",
            "97020c83d6c4c6ef",
            "6b7bbcb564783f81",
            "2d3b7291096aea0c"
        ],
        "x": 1755,
        "y": 920,
        "wires": [
            [
                "0f604b9b408fa488"
            ]
        ]
    },
    {
        "id": "3dc2a7f9b2b55c09",
        "type": "debug",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "65cf911606445133",
        "name": "Resposta da API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2610,
        "y": 1000,
        "wires": []
    },
    {
        "id": "0d2699a84da6efcb",
        "type": "http request",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "65cf911606445133",
        "name": "Enviar AnalogInputs para API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5292/api/mmdba/rotuladora/IOs",
        "tls": "58c0d6014ed6b2f7",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2320,
        "y": 1000,
        "wires": [
            [
                "3dc2a7f9b2b55c09"
            ]
        ]
    },
    {
        "id": "f359c0eaebe262a1",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "65cf911606445133",
        "name": "Montar objeto para API (IW4)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"inIW4\",\n    Valor: String(msg.payload),\n    Informacao: \"Enrtada Analógica inQW4\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 980,
        "wires": [
            [
                "0d2699a84da6efcb"
            ]
        ]
    },
    {
        "id": "4902ee97d4e3a7b3",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "65cf911606445133",
        "name": "link in IW4",
        "links": [
            "bda91513947130ef"
        ],
        "x": 1755,
        "y": 980,
        "wires": [
            [
                "f359c0eaebe262a1"
            ]
        ]
    },
    {
        "id": "d9c11c4c0aa7cfbf",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "65cf911606445133",
        "name": "Montar objeto para API (IW6)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"inIW6\",\n    Valor: String(msg.payload),\n    Informacao: \"Enrtada Analógica inQW6\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1040,
        "wires": [
            [
                "0d2699a84da6efcb"
            ]
        ]
    },
    {
        "id": "10c3aa6c2bdfbdd7",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "65cf911606445133",
        "name": "link in IW6",
        "links": [
            "f86e6091a5492206"
        ],
        "x": 1755,
        "y": 1040,
        "wires": [
            [
                "d9c11c4c0aa7cfbf"
            ]
        ]
    },
    {
        "id": "5ff7fb7424252468",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "65cf911606445133",
        "name": "Montar objeto para API (IW8)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"inIW8\",\n    Valor: String(msg.payload),\n    Informacao: \"Enrtada Analógica inQW8\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1100,
        "wires": [
            [
                "0d2699a84da6efcb"
            ]
        ]
    },
    {
        "id": "85950fd53a8e67cd",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "65cf911606445133",
        "name": "link in IW8",
        "links": [
            "a565ecd9bea0b796"
        ],
        "x": 1755,
        "y": 1100,
        "wires": [
            [
                "5ff7fb7424252468"
            ]
        ]
    },
    {
        "id": "2ee67441b5f24580",
        "type": "comment",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "65cf911606445133",
        "name": "Entradas Analógicas",
        "info": "Entradas Analógicas",
        "x": 2310,
        "y": 800,
        "wires": []
    },
    {
        "id": "7f4021a5794a364c",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "a7bd69dce71f6fb5",
        "name": "Montar objeto para API (QW2)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"outQW2\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Analógica outQW2\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 500,
        "wires": [
            [
                "bc690de41fcb7e72"
            ]
        ]
    },
    {
        "id": "1c0fe42750c2b5fa",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "a7bd69dce71f6fb5",
        "name": "link in QW2",
        "links": [
            "92f207c838c2e0e8"
        ],
        "x": 1755,
        "y": 500,
        "wires": [
            [
                "7f4021a5794a364c"
            ]
        ]
    },
    {
        "id": "d07b31023f39de74",
        "type": "debug",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "a7bd69dce71f6fb5",
        "name": "Resposta da API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2630,
        "y": 520,
        "wires": []
    },
    {
        "id": "bc690de41fcb7e72",
        "type": "http request",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "a7bd69dce71f6fb5",
        "name": "Enviar AnalogOutputs para API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5292/api/mmdba/rotuladora/IOs",
        "tls": "58c0d6014ed6b2f7",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2330,
        "y": 520,
        "wires": [
            [
                "d07b31023f39de74"
            ]
        ]
    },
    {
        "id": "e9cc4be5e21112f7",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "a7bd69dce71f6fb5",
        "name": "Montar objeto para API (QW4)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"outQW4\",\n    Valor: String(msg.payload),\n    Informacao: \"Saida Analógica outQW4\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 560,
        "wires": [
            [
                "bc690de41fcb7e72"
            ]
        ]
    },
    {
        "id": "19221510a54cfabe",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "a7bd69dce71f6fb5",
        "name": "link in QW4",
        "links": [
            "221f22b688c4b0e8"
        ],
        "x": 1755,
        "y": 560,
        "wires": [
            [
                "e9cc4be5e21112f7"
            ]
        ]
    },
    {
        "id": "4f04038023b818d4",
        "type": "comment",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "a7bd69dce71f6fb5",
        "name": "Saídas Analógicas",
        "info": "Saídas Analógicas",
        "x": 2310,
        "y": 380,
        "wires": []
    },
    {
        "id": "35e5f325e3fec2ef",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "7c14193a66e0bb4f",
        "name": "Montar objeto para API (HSC00)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"inHSC00\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Rápida HSC00\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 1380,
        "wires": [
            [
                "430dc8b701667e3f"
            ]
        ]
    },
    {
        "id": "c7074f34568c1258",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "7c14193a66e0bb4f",
        "name": "link in IW2",
        "links": [
            "16c94c9ae6741fda",
            "cb53c2287d3369e5",
            "97020c83d6c4c6ef",
            "6b7bbcb564783f81",
            "2d3b7291096aea0c"
        ],
        "x": 1755,
        "y": 1380,
        "wires": [
            [
                "35e5f325e3fec2ef"
            ]
        ]
    },
    {
        "id": "23baf0997e888784",
        "type": "debug",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "7c14193a66e0bb4f",
        "name": "Resposta da API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2610,
        "y": 1460,
        "wires": []
    },
    {
        "id": "430dc8b701667e3f",
        "type": "http request",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "7c14193a66e0bb4f",
        "name": "Enviar AnalogInputs para API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5292/api/mmdba/rotuladora/IOs",
        "tls": "58c0d6014ed6b2f7",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2320,
        "y": 1460,
        "wires": [
            [
                "23baf0997e888784"
            ]
        ]
    },
    {
        "id": "b6d16825a63e8f49",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "7c14193a66e0bb4f",
        "name": "Montar objeto para API (HSC01)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"inHSC01\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Rápida HSC01\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 1440,
        "wires": [
            [
                "430dc8b701667e3f"
            ]
        ]
    },
    {
        "id": "9a29e21c18a89529",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "7c14193a66e0bb4f",
        "name": "link in IW4",
        "links": [
            "bda91513947130ef"
        ],
        "x": 1755,
        "y": 1440,
        "wires": [
            [
                "b6d16825a63e8f49"
            ]
        ]
    },
    {
        "id": "dfa0c053391ec6e1",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "7c14193a66e0bb4f",
        "name": "Montar objeto para API (HSC02)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"inHSC02\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Rápida HSC02\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 1500,
        "wires": [
            [
                "430dc8b701667e3f"
            ]
        ]
    },
    {
        "id": "e3ced482dc20292b",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "7c14193a66e0bb4f",
        "name": "link in IW6",
        "links": [
            "f86e6091a5492206"
        ],
        "x": 1755,
        "y": 1500,
        "wires": [
            [
                "dfa0c053391ec6e1"
            ]
        ]
    },
    {
        "id": "a57eae2817918b20",
        "type": "function",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "7c14193a66e0bb4f",
        "name": "Montar objeto para API (HSC03)",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"inHSC03\",\n    Valor: String(msg.payload),\n    Informacao: \"Entrada Rápida HSC03\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"IOs\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 1560,
        "wires": [
            [
                "430dc8b701667e3f"
            ]
        ]
    },
    {
        "id": "de32c510af55fbfa",
        "type": "link in",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "7c14193a66e0bb4f",
        "name": "link in IW8",
        "links": [
            "a565ecd9bea0b796"
        ],
        "x": 1755,
        "y": 1560,
        "wires": [
            [
                "a57eae2817918b20"
            ]
        ]
    },
    {
        "id": "0a1b5dcb40607ccd",
        "type": "comment",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "g": "7c14193a66e0bb4f",
        "name": "Entradas HSC",
        "info": "Entradas HSC",
        "x": 2290,
        "y": 1260,
        "wires": []
    },
    {
        "id": "248bd40145ccdb60",
        "type": "comment",
        "z": "10f380e0-f078-4f69-9340-bb780d15b1a4",
        "name": "HTTP POST IOs Node-RED -> API",
        "info": "",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "ee1999b2eec1b94d",
        "type": "http request",
        "z": "b7c2f397fdbb5ba7",
        "name": "Enviar Alarmes para API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5292/api/mmdba/rotuladora/alarmes",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 360,
        "wires": [
            [
                "d90ea1914a1a0582"
            ]
        ]
    },
    {
        "id": "d90ea1914a1a0582",
        "type": "debug",
        "z": "b7c2f397fdbb5ba7",
        "name": "Resposta da API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 360,
        "wires": []
    },
    {
        "id": "65379a5a3dba335c",
        "type": "inject",
        "z": "b7c2f397fdbb5ba7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "e21aa95687038ce4"
            ]
        ]
    },
    {
        "id": "e21aa95687038ce4",
        "type": "function",
        "z": "b7c2f397fdbb5ba7",
        "name": "Montar objeto para API - Teste Alarme ON",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"alarmeON\",\n    Valor: \"Emergência Ativa\",\n    Informacao: \"Botão de Emergência foi acionado.\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"Alarme\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "ee1999b2eec1b94d"
            ]
        ]
    },
    {
        "id": "af7d81ec75f8d411",
        "type": "function",
        "z": "b7c2f397fdbb5ba7",
        "name": "Montar objeto para API - Teste Alarme OFF",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"alarmeOFF\",\n    Valor: \"Sem Alarmes\",\n    Informacao: \"Sem Alarmes.\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"Alarme\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 360,
        "wires": [
            [
                "ee1999b2eec1b94d"
            ]
        ]
    },
    {
        "id": "65299fc7def3b810",
        "type": "inject",
        "z": "b7c2f397fdbb5ba7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "af7d81ec75f8d411"
            ]
        ]
    },
    {
        "id": "14932b875d8456c1",
        "type": "comment",
        "z": "b7c2f397fdbb5ba7",
        "name": "HTTP POST Alarmes Node-RED -> API",
        "info": "",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "d03370e9c3783efc",
        "type": "function",
        "z": "b7c2f397fdbb5ba7",
        "name": "Montar objeto para API - Alarmes",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nlet codigo = msg.payload;\n\nlet alarme = {\n    0: {\n        CodigoEvento: \"alarmeOFF\",\n        Valor: \"Sem Alarmes\",\n        Informacao: \"Sistema normal\",\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Alarme\"\n    },\n    1: {\n        CodigoEvento: \"alarme01\",\n        Valor: \"Emergência Ativa\",\n        Informacao: \"Botão de Emergência foi acionado\",\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Alarme\"\n    },\n    2: {\n        CodigoEvento: \"alarme02\",\n        Valor: \"Porta Aberta\",\n        Informacao: \"Sensor de porta detectou abertura\",\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Alarme\"\n    },\n    3: {\n        CodigoEvento: \"alarme03\",\n        Valor: \"Sobrecorrente\",\n        Informacao: \"Motor principal em sobrecorrente\",\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Alarme\"\n    }\n};\n\nif (alarme[codigo]) {\n    msg.payload = alarme[codigo];\n} else {\n    msg.payload = {\n        CodigoEvento: \"alarmeDesconhecido\",\n        Valor: \"Código não mapeado\",\n        Informacao: `Recebido código ${codigo} do PLC`,\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Alarme\"\n    };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 500,
        "wires": [
            [
                "ee1999b2eec1b94d"
            ]
        ]
    },
    {
        "id": "e92988c27b38e4f0",
        "type": "link in",
        "z": "b7c2f397fdbb5ba7",
        "name": "link Alarme",
        "links": [
            "a6d1aa8362a9a583"
        ],
        "x": 255,
        "y": 500,
        "wires": [
            [
                "d03370e9c3783efc"
            ]
        ]
    },
    {
        "id": "0527a91057c4164c",
        "type": "http request",
        "z": "82177b4cf60ced3f",
        "name": "Enviar Avisos para API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5292/api/mmdba/rotuladora/avisos",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 400,
        "wires": [
            [
                "bc454b3d73a95929"
            ]
        ]
    },
    {
        "id": "bc454b3d73a95929",
        "type": "debug",
        "z": "82177b4cf60ced3f",
        "name": "Resposta da API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 400,
        "wires": []
    },
    {
        "id": "e8e3e631c584027b",
        "type": "inject",
        "z": "82177b4cf60ced3f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 330,
        "y": 280,
        "wires": [
            [
                "97ce2f8fc9b36bfa"
            ]
        ]
    },
    {
        "id": "97ce2f8fc9b36bfa",
        "type": "function",
        "z": "82177b4cf60ced3f",
        "name": "Montar objeto para API - Teste Aviso ON",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"avisoON\",\n    Valor: \"Aviso Enviado\",\n    Informacao: \"Aviso Enviado.\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"Aviso\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "0527a91057c4164c"
            ]
        ]
    },
    {
        "id": "f89789e67f90499b",
        "type": "function",
        "z": "82177b4cf60ced3f",
        "name": "Montar objeto para API - Teste Aviso OFF",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"avisosOFF\",\n    Valor: \"Sem Avisos\",\n    Informacao: \"ASem Avisos.\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"Aviso\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 400,
        "wires": [
            [
                "0527a91057c4164c"
            ]
        ]
    },
    {
        "id": "c5be80165b4a8be8",
        "type": "inject",
        "z": "82177b4cf60ced3f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "f89789e67f90499b"
            ]
        ]
    },
    {
        "id": "412fd6aae64332d5",
        "type": "comment",
        "z": "82177b4cf60ced3f",
        "name": "HTTP POST Avisos Node-RED -> API",
        "info": "",
        "x": 270,
        "y": 140,
        "wires": []
    },
    {
        "id": "963e8bf6becc86a1",
        "type": "function",
        "z": "82177b4cf60ced3f",
        "name": "Montar objeto para API - Avisos",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nlet codigo = msg.payload;\n\nlet aviso = {\n    0: {\n        CodigoEvento: \"avisoOFF\",\n        Valor: \"Sem Avisos\",\n        Informacao: \"Sistema Normal\",\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Aviso\"\n    },\n    1: {\n        CodigoEvento: \"aviso01\",\n        Valor: \"Velocidade Reduzida\",\n        Informacao: \"Velocidade Reduzida\",\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Aviso\"\n    },\n    2: {\n        CodigoEvento: \"aviso02\",\n        Valor: \"Máquina Não Referenciada\",\n        Informacao: \"Máquina Não Referenciada\",\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Aviso\"\n    },\n    3: {\n        CodigoEvento: \"aviso03\",\n        Valor: \"Verificar Sensor 01\",\n        Informacao: \"Verificar Sensor 01\",\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Aviso\"\n    }\n};\n\nif (aviso[codigo]) {\n    msg.payload = aviso[codigo];\n} else {\n    msg.payload = {\n        CodigoEvento: \"avisoDesconhecido\",\n        Valor: \"Código não mapeado\",\n        Informacao: `Recebido código ${codigo} do PLC`,\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Aviso\"\n    };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 520,
        "wires": [
            [
                "0527a91057c4164c"
            ]
        ]
    },
    {
        "id": "b8a23c1f49fad2f5",
        "type": "link in",
        "z": "82177b4cf60ced3f",
        "name": "link Aviso",
        "links": [
            "1d4a22cc7bf0dfe5"
        ],
        "x": 285,
        "y": 520,
        "wires": [
            [
                "963e8bf6becc86a1"
            ]
        ]
    },
    {
        "id": "811424e5e099ecb4",
        "type": "http request",
        "z": "52ad4f8017343188",
        "name": "Enviar Status para API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5292/api/mmdba/rotuladora/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 940,
        "y": 360,
        "wires": [
            [
                "0b3484a0667b74b8"
            ]
        ]
    },
    {
        "id": "0b3484a0667b74b8",
        "type": "debug",
        "z": "52ad4f8017343188",
        "name": "Resposta da API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 360,
        "wires": []
    },
    {
        "id": "09bbe8905da238e1",
        "type": "inject",
        "z": "52ad4f8017343188",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "ae82ae0355c42e57"
            ]
        ]
    },
    {
        "id": "ae82ae0355c42e57",
        "type": "function",
        "z": "52ad4f8017343188",
        "name": "Montar objeto para API - Teste \"statusAutomatico\"",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"statusAutomatico\",\n    Valor: \"Máquina Automático\",\n    Informacao: \"Máquina em modo automático.\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"Status\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "811424e5e099ecb4"
            ]
        ]
    },
    {
        "id": "53c0d388c15f3248",
        "type": "function",
        "z": "52ad4f8017343188",
        "name": "Montar objeto para API - Teste \"statusManual\"",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"statusManual\",\n    Valor: \"Máquina Manual\",\n    Informacao: \"Máquina em modo manual.\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"Status\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 320,
        "wires": [
            [
                "811424e5e099ecb4"
            ]
        ]
    },
    {
        "id": "8d03d2ae442408e2",
        "type": "inject",
        "z": "52ad4f8017343188",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "53c0d388c15f3248"
            ]
        ]
    },
    {
        "id": "f9a818d1742ae31c",
        "type": "function",
        "z": "52ad4f8017343188",
        "name": "Montar objeto para API - Teste \"statusDesativada\"",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"statusDesativada\",\n    Valor: \"Máquina Desativada\",\n    Informacao: \"Máquina desativada.\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"Status\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "811424e5e099ecb4"
            ]
        ]
    },
    {
        "id": "20d7f293e711c380",
        "type": "inject",
        "z": "52ad4f8017343188",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "f9a818d1742ae31c"
            ]
        ]
    },
    {
        "id": "eebc5c5f585d6e3f",
        "type": "comment",
        "z": "52ad4f8017343188",
        "name": "HTTP POST Status Node-RED -> API",
        "info": "",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "6a8ae6aca813db7f",
        "type": "function",
        "z": "52ad4f8017343188",
        "name": "Montar objeto para API - Status",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nlet codigo = msg.payload;\n\nlet status = {\n    0: {       \n        CodigoEvento: \"statusDesativada\",\n        Valor: \"Máquina Desativada\",\n        Informacao: \"Máquina desativada.\",\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Status\"\n    },\n    \n    1: {\n        CodigoEvento: \"statusManual\",\n        Valor: \"Máquina Manual\",\n        Informacao: \"Máquina em modo manual.\",\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Status\"\n    },\n    \n    2: {\n        CodigoEvento: \"statusAutomatico\",\n        Valor: \"Máquina Automático\",\n        Informacao: \"Máquina em modo automático.\",\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Status\"\n    },\n    \n};\n\nif (status[codigo]) {\n    msg.payload = status[codigo];\n} else {\n    msg.payload = {\n        CodigoEvento: \"statusDesconhecido\",\n        Valor: \"Código não mapeado\",\n        Informacao: `Recebido código ${codigo} do PLC`,\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Status\"\n    };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 480,
        "wires": [
            [
                "811424e5e099ecb4"
            ]
        ]
    },
    {
        "id": "5913d85a1d3f49c2",
        "type": "link in",
        "z": "52ad4f8017343188",
        "name": "link Status",
        "links": [
            "cb53c2287d3369e5"
        ],
        "x": 235,
        "y": 480,
        "wires": [
            [
                "6a8ae6aca813db7f"
            ]
        ]
    },
    {
        "id": "6d2afef730b78af3",
        "type": "http request",
        "z": "1178555e0391a6a5",
        "name": "Enviar Velocidade Atual para API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5292/api/mmdba/rotuladora/velocidade",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1000,
        "y": 320,
        "wires": [
            [
                "2b5e7b759fb1a896"
            ]
        ]
    },
    {
        "id": "2b5e7b759fb1a896",
        "type": "debug",
        "z": "1178555e0391a6a5",
        "name": "Resposta da API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 320,
        "wires": []
    },
    {
        "id": "708ca1eb253d8f8c",
        "type": "inject",
        "z": "1178555e0391a6a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7500",
        "payloadType": "num",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "3414df6e508ec5fe"
            ]
        ]
    },
    {
        "id": "3414df6e508ec5fe",
        "type": "function",
        "z": "1178555e0391a6a5",
        "name": "Montar objeto para API - Velocidade",
        "func": "// Define os cabeçalhos da requisição HTTP.\nmsg.headers = {\n    // Informa ao servidor que estamos enviando dados no formato JSON.\n    \"Content-Type\": \"application/json\",\n\n    // Adiciona autenticação com a chave de API.\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\n// Monta o corpo (payload) da requisição com os dados a serem enviados.\nmsg.payload = {\n    CodigoEvento: \"velocidadeAtual\",\n    Valor: String(msg.payload),\n    Informacao: \"Velocidade Atual.\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"Velocidade\"\n};\n\n// Retorna o objeto 'msg' modificado para o próximo nó do fluxo.\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 320,
        "wires": [
            [
                "6d2afef730b78af3"
            ]
        ]
    },
    {
        "id": "1d9cd05939e5c834",
        "type": "inject",
        "z": "1178555e0391a6a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3250",
        "payloadType": "num",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "3414df6e508ec5fe"
            ]
        ]
    },
    {
        "id": "7f8ed885fa4b4acf",
        "type": "inject",
        "z": "1178555e0391a6a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "3414df6e508ec5fe"
            ]
        ]
    },
    {
        "id": "659f03e926f02147",
        "type": "inject",
        "z": "1178555e0391a6a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10750",
        "payloadType": "num",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "3414df6e508ec5fe"
            ]
        ]
    },
    {
        "id": "0a33dc33b654e62a",
        "type": "inject",
        "z": "1178555e0391a6a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15000",
        "payloadType": "num",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "3414df6e508ec5fe"
            ]
        ]
    },
    {
        "id": "0e1ae708fe6f3634",
        "type": "comment",
        "z": "1178555e0391a6a5",
        "name": "HTTP POST Velocidade Node-RED -> API",
        "info": "",
        "x": 280,
        "y": 140,
        "wires": []
    },
    {
        "id": "3966b0e6ca298391",
        "type": "link in",
        "z": "1178555e0391a6a5",
        "name": "link Velocidade",
        "links": [
            "97020c83d6c4c6ef"
        ],
        "x": 325,
        "y": 440,
        "wires": [
            [
                "3414df6e508ec5fe"
            ]
        ]
    },
    {
        "id": "a1b2c3d4.e5f6g7",
        "type": "inject",
        "z": "5f0cc578e3a7799a",
        "name": "▶ Incrementar Peça (+1)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "b2c3d4e5.f6g7h8"
            ]
        ]
    },
    {
        "id": "b2c3d4e5.f6g7h8",
        "type": "function",
        "z": "5f0cc578e3a7799a",
        "name": "Incrementar e Montar Objeto para API - Produção",
        "func": "let contador = flow.get('contadorPecas') || 0;\n\n// VERIFICA SE É UM COMANDO DE RESET\nif (msg.topic === 'reset') {\n    contador = 0;\n    flow.set('contadorPecas', contador); // Salva o valor zerado na memória\n    node.status({ fill: \"red\", shape: \"dot\", text: \"Contador resetado para 0\" });\n\n    // --- Monta a mensagem para a API também no reset ---\n    msg.headers = {\n        \"Content-Type\": \"application/json\",\n        \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n    };\n\n    msg.payload = {\n        CodigoEvento: \"pecasProduzidas\",\n        Valor: String(contador),   // envia \"0\"\n        Informacao: \"Contador resetado para 0.\",\n        Origem: \"Rotuladora\",\n        TipoEvento: \"Contador\"\n    };\n\n    return msg;\n}\n\n// Se não for reset, incrementa o contador normalmente\ncontador++;\nflow.set('contadorPecas', contador);\n\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Peças: \" + contador });\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"X-API-Key\": \"cu@AXP}6+2ik<j!{24WaxL,z0es%|8Bh\"\n};\n\nmsg.payload = {\n    CodigoEvento: \"pecasProduzidas\",\n    Valor: String(contador),\n    Informacao: \"Contator de Produção Atual.\",\n    Origem: \"Rotuladora\",\n    TipoEvento: \"Contador\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 360,
        "wires": [
            [
                "c3d4e5f6.g7h8i9"
            ]
        ]
    },
    {
        "id": "c3d4e5f6.g7h8i9",
        "type": "http request",
        "z": "5f0cc578e3a7799a",
        "name": "Enviar Contagem de Produção para API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:5292/api/mmdba/rotuladora/contagem",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "d4e5f6g7.h8i9j0"
            ]
        ]
    },
    {
        "id": "d4e5f6g7.h8i9j0",
        "type": "debug",
        "z": "5f0cc578e3a7799a",
        "name": "Resposta da API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 360,
        "wires": []
    },
    {
        "id": "e5f6g7h8.i9j0k1",
        "type": "inject",
        "z": "5f0cc578e3a7799a",
        "name": "⏹ Resetar Produção",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "b2c3d4e5.f6g7h8"
            ]
        ]
    },
    {
        "id": "250771773cb85d9f",
        "type": "comment",
        "z": "5f0cc578e3a7799a",
        "name": "HTTP POST Contagem de Produção Node-RED -> API",
        "info": "",
        "x": 340,
        "y": 140,
        "wires": []
    },
    {
        "id": "8ed47c07d616e0c1",
        "type": "link in",
        "z": "5f0cc578e3a7799a",
        "name": "link in 1",
        "links": [
            "6b7bbcb564783f81"
        ],
        "x": 355,
        "y": 440,
        "wires": [
            [
                "b2c3d4e5.f6g7h8"
            ]
        ]
    }
]